In [1]:
import yfinance as yf
import pandas as pd
import numpy as np


TICKER = "^GSPC"

In [2]:
ticker = yf.Ticker(TICKER).history(period="max")
ticker = ticker.loc[:, ["Close"]]
ticker.columns = ['close']
ticker.index.name = 'date'
ticker['return'] = ticker['close'].pct_change()
ticker['upDn'] = np.where(ticker['return'] >= 0, "Up", "Down")
ticker['tradingDay'] = ticker.index.day_of_week.astype('str') + ' ' + ticker.index.day_name()
ticker['nextDayReturn'] = ticker['close'].pct_change().shift(-1)
ticker['nextDayUpDn'] = np.where(ticker['nextDayReturn'] >= 0, "Up", "Down")

ticker

,close,return,upDn,tradingDay,nextDayReturn,nextDayUpDn
date,,,,,,
1950-01-03,16.660000,NaN,Down,1 Tuesday,0.011405,Up
1950-01-04,16.850000,0.011405,Up,2 Wednesday,0.004748,Up
1950-01-05,16.930000,0.004748,Up,3 Thursday,0.002953,Up
1950-01-06,16.980000,0.002953,Up,4 Friday,0.005889,Up
1950-01-09,17.080000,0.005889,Up,0 Monday,-0.002927,Down
...,...,...,...,...,...,...
2022-08-19,4228.479980,-0.012900,Down,4 Friday,-0.021400,Down
2022-08-22,4137.990234,-0.021400,Down,0 Monday,-0.002238,Down
2022-08-23,4128.729980,-0.002238,Down,1 Tuesday,0.002916,Up
2022-08-24,4140.770020,0.002916,Up,2 Wednesday,0.014092,Up
2022-08-25,4199.120117,0.014092,Up,3 Thursday,NaN,Down

In [5]:
ticker.loc[ticker.index >= '2020',['tradingDay', 'upDn','nextDayReturn', 'nextDayUpDn']].groupby(['tradingDay','upDn','nextDayUpDn']).agg(count = ('nextDayReturn', 'count'),median_return = ('nextDayReturn', 'median'))

                              count  median_return
tradingDay  upDn nextDayUpDn
0 Monday    Down Down            21      -0.006802
                 Up              34       0.010521
            Up   Down            42      -0.005495
                 Up              27       0.005219
1 Tuesday   Down Down            29      -0.007483
                 Up              44       0.008041
            Up   Down            27      -0.005052
                 Up              38       0.006230
2 Wednesday Down Down            20      -0.007123
                 Up              36       0.005814
            Up   Down            42      -0.007477
                 Up              40       0.007333
3 Thursday  Down Down            30      -0.007828
                 Up              31       0.009549
            Up   Down            33      -0.007195
                 Up              42       0.007298
4 Friday    Down Down            27      -0.011527
                 Up              34       0.007140
            Up   Down            35      -0.002973
                 Up              35       0.007181

In [6]:
ticker.loc[ticker.index >= '2020',['tradingDay', 'return']].groupby('tradingDay').agg(count = ('return', 'count'),median_return = ('return', 'median'))

             count  median_return
tradingDay
0 Monday       124       0.002296
1 Tuesday      138      -0.000721
2 Wednesday    138       0.001522
3 Thursday     137       0.001673
4 Friday       131       0.000769